/* 1 --------- Variable and MIxins --------- */
/* 
Global Style 
------------------------------------------------------------------------*/
html,
body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  text-rendering: optimizeLegibility !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch; }

a {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  a:hover, a:focus {
    color: #191919;
    outline: 0;
    text-decoration: none; }

p {
  color: #8c8c8c;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343434;
  font-family: "Poppins", sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.875em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea,
.btn,
.form-control {
  -webkit-box-shadow: none;
          box-shadow: none; }
  button:hover, button:focus, button:active, button:visited,
  input:hover,
  input:focus,
  input:active,
  input:visited,
  optgroup:hover,
  optgroup:focus,
  optgroup:active,
  optgroup:visited,
  select:hover,
  select:focus,
  select:active,
  select:visited,
  textarea:hover,
  textarea:focus,
  textarea:active,
  textarea:visited,
  .btn:hover,
  .btn:focus,
  .btn:active,
  .btn:visited,
  .form-control:hover,
  .form-control:focus,
  .form-control:active,
  .form-control:visited {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: 0 !important;
    text-decoration: none !important; }

iframe {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  max-width: 100%;
  width: 100%; }

.mt-35 {
  margin-top: 35px; }

.mb-35 {
  margin-bottom: 35px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.pt-35 {
  padding-top: 35px; }

.pb-35 {
  padding-bottom: 35px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.section-content.float-left {
  width: 100%; }

.background-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.black-bg {
  background-color: #323232; }

.alice-green-bg {
  background-color: #e4f1f9; }

.content,
.sidebar-content {
  display: inline-block;
  margin: 95px 0;
  width: 100%; }

.overlay {
  background: rgba(51, 51, 51, 0.75); }

.box-padding {
  padding: 1.875em; }

.section-top {
  max-width: 690px;
  margin: 0 auto 5.625em; }
  .section-top .section-title {
    color: #343434;
    font-size: 1.875em;
    font-weight: 300;
    max-width: 450px;
    margin: 0 auto 7px; }
  .section-top p {
    font-size: 18px;
    font-weight: 300; }

.background-bg .section-top .section-title {
  color: #fff;
  line-height: 1.45;
  margin-bottom: .875em; }
.background-bg .section-top p {
  color: #fff; }

.gradient-bg {
  background-image: -webkit-gradient(linear, right top, left top, from(#e4f1f9), to(#e1f9f1));
  background-image: linear-gradient(to left, #e4f1f9 0%, #e1f9f1 100%); }

.btn {
  background: #8dc63f;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: .875em;
  font-weight: 900;
  padding: 12px 21.43px;
  text-transform: uppercase; }
  .btn:hover {
    background: #8dc63f;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25) inset !important;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25) inset !important;
    color: #fff; }
  .btn.more {
    background: transparent;
    color: #8dc63f;
    font-style: italic;
    line-height: 1;
    margin-top: 13px;
    padding: 0;
    text-transform: capitalize;
    padding-right: 20px !important;
    position: relative; }
    .btn.more:before {
      content: '';
      background: url(../../images/arrow.png) no-repeat center right !important;
      height: 7px;
      width: 15px;
      right: 0;
      top: 50%;
      margin-top: -2px;
      position: absolute; }

.item-title {
  color: #343434;
  font-size: 1.125em;
  font-weight: 900; }
  .item-title a {
    color: #343434; }

.popup-video {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5em;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  height: 4em;
  width: 4em;
  line-height: 4em; }
  .popup-video:hover, .popup-video:focus {
    color: #fff; }

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6a6a6;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6a6a6;
  opacity: 1;
  /* Firefox */ }

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6a6a6;
  opacity: 1;
  /* Firefox */ }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6a6a6;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a6a6a6; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a6a6a6; }

.shadow {
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3) !important; }

/* -------- Page Heasers -------- */
.page-header {
  padding: 23vh 0 13.75vh; }
  .page-header.background-bg {
    padding: 0; }
    .page-header.background-bg.style-01 .overlay, .page-header.background-bg.style-02 .overlay {
      background-color: rgba(25, 28, 30, 0.9);
      padding: 23vh 0 13.75vh; }
    .page-header.background-bg.style-01 .row, .page-header.background-bg.style-02 .row {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .page-header.background-bg.style-01 .header-title, .page-header.background-bg.style-02 .header-title {
      color: #fff;
      font-size: 2.125em;
      font-weight: 300;
      margin-bottom: 0; }
    .page-header.background-bg.style-01 p, .page-header.background-bg.style-02 p {
      color: #fff; }
  .page-header p {
    font-size: 1.125em;
    font-weight: 300;
    line-height: 26px; }
  .page-header .breadcrumb {
    background-color: transparent;
    border: none;
    float: right;
    margin: 0;
    padding: 0; }
    .page-header .breadcrumb li {
      color: #fff;
      font-size: 14px; }
    .page-header .breadcrumb a {
      color: #999; }
    .page-header .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
      content: '-'; }
  .page-header.style-02 .header-texts {
    max-width: 560px;
    margin: 0 auto;
    text-align: center !important; }

.page-header .header-title {
  color: #343434; }
.page-header p {
  color: #8c8c8c; }

/* -------- Animations -------- */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased; } }
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased; } }
/* ----------- Banner ---------- */
.banner-section {
  height: 75vh;
  padding-top: 100px;
  position: relative; }
  .banner-section .container,
  .banner-section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .banner-section .btn {
    font-size: 14px;
    line-height: 54px;
    padding: 0 2.245em; }
  .banner-section h1, .banner-section h2, .banner-section h3, .banner-section h4, .banner-section h5, .banner-section h6, .banner-section p {
    font-weight: 300;
    line-height: 1.35;
    margin-bottom: 0; }
  .banner-section p {
    color: #8c8c8c;
    font-size: 1.124em;
    line-height: 1.45; }
  .banner-section.banner-02 {
    border-bottom-left-radius: 90px 60px;
    overflow: hidden;
    position: relative;
    z-index: 1; }
    .banner-section.banner-02:before {
      content: '';
      width: 0;
      height: 0;
      border-bottom: 20vh solid #fff;
      border-left: 100vw solid transparent;
      position: absolute;
      bottom: -9px;
      right: 0;
      z-index: -1; }
    .banner-section.banner-02 .banner-content {
      background-size: contain;
      background-position: bottom right;
      height: 100%; }

/* ----------- Features ---------- */
.features-item {
  margin: 25px 0; }
  .features-item .item-icon {
    color: #343434;
    float: left;
    font-size: 2.25em;
    margin-right: 20px; }
    .features-item .item-icon i {
      width: 40px; }
  .features-item .item-details .item-title {
    font-size: 1em;
    margin-bottom: 1.5em; }
  .features-item .item-details p {
    font-size: 14px;
    line-height: 23px; }
  .features-item.style-02 {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    display: block;
    padding: 1.875em;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    .features-item.style-02 .item-icon {
      color: #8dc63f;
      float: none;
      margin-bottom: 24px; }
    .features-item.style-02 .item-details {
      display: block; }
    .features-item.style-02:hover {
      -webkit-transform: scale(1.05, 1.05);
              transform: scale(1.05, 1.05); }
  .features-item.media {
    float: left; }
    .features-item.media .item-icon {
      font-size: 2.125em; }

/* ------------ Tools ------------- */
.tools-item:last-child {
  padding-bottom: 30px; }
.tools-item.style-02 .item-thumb img {
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none; }
.tools-item.style-02 .item-details .item-title {
  font-size: 1.875em;
  font-weight: 300;
  margin-bottom: .625em; }
.tools-item.style-02 .item-details p {
  color: #808080; }
.tools-item.style-02:nth-child(odd) .item-thumb {
  float: none;
  padding-right: 1.875em;
  padding-left: 0;
  -webkit-transform: none;
          transform: none; }
.tools-item.style-02:nth-child(odd) .item-details {
  float: none;
  padding-left: 1.875em;
  padding-right: 0;
  -webkit-transform: none;
          transform: none; }
.tools-item.style-02:nth-child(even) .item-thumb {
  float: none;
  padding-left: 1.875em;
  padding-right: 0;
  -webkit-transform: translate(100%, 0%);
          transform: translate(100%, 0%); }
.tools-item.style-02:nth-child(even) .item-details {
  float: none;
  padding-right: 1.875em;
  padding-left: 0;
  -webkit-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%); }

/* ------------ Video section ------------- */
.video-section .content,
.testimonial-slider .content {
  padding: 15px 0 25px; }

.video-section.style-02 {
  overflow: hidden;
  position: relative;
  border-top-right-radius: 5.625em 3.75em;
  z-index: 3; }
.video-section .blue-gradient {
  position: relative; }
  .video-section .blue-gradient:before {
    content: '';
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(63, 198, 168, 0.9)), to(rgba(118, 61, 234, 0.9)));
    background-image: linear-gradient(to right, rgba(63, 198, 168, 0.9) 0%, rgba(118, 61, 234, 0.9) 100%);
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    position: absolute;
    z-index: -1; }
  .video-section .blue-gradient:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 20vh solid #fff;
    border-right: 100vw solid transparent;
    position: absolute;
    top: -9px;
    right: 0;
    z-index: -1; }
  .video-section .blue-gradient.background-bg {
    background-position: bottom right;
    height: 100%;
    z-index: 1; }
    .video-section .blue-gradient.background-bg .content {
      padding-top: 9.25em; }
  .video-section .blue-gradient .popup-video {
    background-color: transparent;
    color: #fff; }
    .video-section .blue-gradient .popup-video:hover {
      background-color: #8dc63f; }

/* ------------ Testimonial ------------- */
.testimonial-slider {
  max-width: 750px;
  margin: 0 auto; }
  .testimonial-slider p {
    color: #808080;
    font-size: 1.25em;
    font-style: italic;
    line-height: 32px;
    margin-bottom: 1.875em; }
  .testimonial-slider .name {
    font-size: 1em;
    font-weight: 700; }
  .testimonial-slider span {
    color: #999;
    font-size: 14px; }
  .testimonial-slider .avatar {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 33px auto 0; }
  .testimonial-slider.style-02 {
    padding: 5px 0 0;
    max-width: 1030px; }
    .testimonial-slider.style-02 .col-md-3 {
      margin-bottom: 30px; }
    .testimonial-slider.style-02 .avatar {
      margin: 20px auto 16px; }
    .testimonial-slider.style-02 p {
      margin: 20px 0 0;
      max-width: 98%;
      padding: 2.25em;
      position: relative;
      text-align: left; }
      .testimonial-slider.style-02 p:before {
        content: '';
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute; }
      .testimonial-slider.style-02 p:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 20px solid #fff;
        border-bottom: 10px solid transparent;
        position: absolute;
        left: -15px;
        top: 2em; }

/* ------------ Action ------------- */
.green-gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(63, 198, 168, 0.9)), to(rgba(118, 61, 234, 0.9)));
  background-image: linear-gradient(to right, rgba(63, 198, 168, 0.9) 0%, rgba(118, 61, 234, 0.9) 100%); }
  .green-gradient .action-content h1, .green-gradient .action-content h2, .green-gradient .action-content h3, .green-gradient .action-content h4, .green-gradient .action-content h5, .green-gradient .action-content h6 {
    color: #fff; }

.action-content div[class*="col-lg-8"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.action-content h1, .action-content h2, .action-content h3, .action-content h4, .action-content h5, .action-content h6 {
  font-weight: 300;
  margin: 0; }
.action-content .btn {
  line-height: 54px;
  padding: 0 2.25em; }
.action-content.style-02 {
  max-width: 650px;
  margin: 1.25em auto;
  text-align: center; }
  .action-content.style-02 h1, .action-content.style-02 h2, .action-content.style-02 h3, .action-content.style-02 h4, .action-content.style-02 h5, .action-content.style-02 h6 {
    margin-bottom: 15px; }
  .action-content.style-02 p {
    display: inline-block;
    font-size: 18px;
    margin: 12px 0;
    width: 100%; }
  .action-content.style-02 .btn {
    margin-top: 3em; }

/* ------------ About Page ------------- */
.member {
  margin: 25px 0; }
  .member .member-avatar {
    background-color: #fff;
    position: relative; }
    .member .member-avatar .member-social {
      background-color: rgba(0, 0, 0, 0.75);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      .member .member-avatar .member-social a {
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 1em;
        height: 30px;
        width: 30px;
        line-height: 32px;
        margin: 0 2px; }
  .member:hover .member-social {
    opacity: 1; }
  .member .member-details {
    padding: 1.625em 15px 0; }
    .member .member-details .name {
      color: #343434;
      font-size: 1em;
      margin: 0 0 8px;
      text-transform: capitalize; }
      .member .member-details .name a {
        color: #343434; }
    .member .member-details .designation {
      color: #999;
      font-size: 14px; }

div[class*="col"]:nth-child(1) .member, div[class*="col"]:nth-child(2) .member, div[class*="col"]:nth-child(3) .member, div[class*="col"]:nth-child(4) .member {
  margin-top: 0; }

/* ------------ Contact Page ------------- */
.wpcf7-form,
.comment-form {
  margin-bottom: 25px; }
  .wpcf7-form p,
  .comment-form p {
    margin-bottom: 25px; }
    .wpcf7-form p:nth-child(1),
    .comment-form p:nth-child(1) {
      float: left;
      width: 49%; }
    .wpcf7-form p:nth-child(2),
    .comment-form p:nth-child(2) {
      float: right;
      width: 49%; }
  .wpcf7-form label,
  .comment-form label {
    color: #343434;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    margin: 11px 0; }
  .wpcf7-form input,
  .wpcf7-form textarea,
  .comment-form input,
  .comment-form textarea {
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #b3b3b3;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 25px;
    margin: 1em 0;
    padding: 17px 15px;
    width: 100%; }
    .wpcf7-form input:focus,
    .wpcf7-form textarea:focus,
    .comment-form input:focus,
    .comment-form textarea:focus {
      background-color: #f7f7f7; }
  .wpcf7-form input[type="submit"],
  .comment-form input[type="submit"] {
    background-color: #8dc63f;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 0;
    padding: 12px 21.43px;
    width: inherit; }
    .wpcf7-form input[type="submit"]:focus,
    .comment-form input[type="submit"]:focus {
      background-color: #8dc63f; }

.google-map-container {
  height: 28.75em; }

/* ------------ Blog Posts ------------- */
article {
  /* max-width: 960px; */
  margin: 0 auto 4.875em; }
  article .post-top {
    margin-bottom: 5.5em;
    text-align: center; }
  article .entry-title {
    color: #343434;
    font-size: 1.875em;
    font-weight: 300;
    margin: 0 0 20px; }
    article .entry-title a {
      color: #343434; }
  article .post-meta {
    color: #999;
    font-size: 14px; }
    article .post-meta a {
      color: #8dc63f; }
  article .entry-thumbnail {
    border-radius: 5px;
    margin-bottom: 3.125em;
    position: relative; }
  article .entry-content p {
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.75; }

.blog-posts {
  border-bottom: 1px solid #e6e6e6; }
  .blog-posts article {
    margin-bottom: 4.875em; }
    .blog-posts article .entry-content p {
      font-size: 1.125em;
      font-weight: 300;
      line-height: 1.75; }
    .blog-posts article .btn {
      background-color: transparent;
      color: #8dc63f;
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      margin-top: 2.5em;
      padding: 0;
      text-decoration: underline !important;
      text-transform: inherit; }
      .blog-posts article .btn:hover, .blog-posts article .btn:focus {
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        outline: 0 !important; }
    .blog-posts article .popup-video {
      left: 50%;
      top: 50%;
      margin-left: -2em;
      margin-top: -2em;
      position: absolute; }
      .blog-posts article .popup-video:hover, .blog-posts article .popup-video:focus {
        color: #fff; }

.post-navigation {
  display: inline-block;
  margin-top: 2.4em;
  width: 100%; }
  .post-navigation a {
    color: #8dc63f;
    font-size: 14px;
    text-transform: capitalize; }
  .post-navigation .nav-links {
    padding-top: 0px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e6e6e6; }
    .post-navigation .nav-links .nav-previous {
      float: left; }
    .post-navigation .nav-links .nav-next {
      float: right; }

.blog-single {
  max-width: 960px;
  margin: 0 auto; }
  .blog-single article .entry-content h1, .blog-single article .entry-content h2, .blog-single article .entry-content h3, .blog-single article .entry-content h4, .blog-single article .entry-content h5, .blog-single article .entry-content h6 {
    font-weight: 300;
    margin: 1.8755em 0; }
  .blog-single article .entry-content p {
    line-height: 1.65;
    margin-bottom: 1.875em; }

article ul, article ol, .comments ul, .comments ol {
  margin: 4em 0; }
  article ul li, article ol li, .comments ul li, .comments ol li {
    color: #8c8c8c;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.65;
    padding: .5em 0; }

.comments ul li, .comments ol li {
  font-size: 1em; }

.entry-content blockquote {
  color: #8c8c8c;
  font-family: 'Georgia';
  font-size: 1.5625em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
  padding: 1.625em 2.4em 2.25em;
  border-left: none !important; }

.tags {
  color: #999;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-top: 3.25em;
  width: 100%; }
  .tags a {
    color: #8dc63f; }
  .tags .cat-links {
    display: block;
    padding-bottom: 15px; }

.page-links a {
  background: #C0392B;
  color: #ffffff;
  padding: 5px 10px;
  margin-left: 7px; }

.author-bio {
  margin-top: 60px !important;
  background-color: #f0f2f7;
  margin-top: 13px;
  padding: 3.125em 3.75em; }
  .author-bio .author-avatar {
    max-width: 120px;
    margin-right: 2.1875em; }
  .author-bio .name {
    font-size: 1.125em;
    font-weight: 600; }
  .author-bio p {
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.65; }

.comments {
  max-width: 960px;
  margin: 5em auto 0;
  padding: 0 3.125em; }
  .comments h1, .comments h2, .comments h3, .comments h4, .comments h5, .comments h6 {
    font-weight: 300; }
  .comments ul,
  .comments ol {
    margin: 0; }
  .comments .comment-list {
    margin-top: 3.4em;
    list-style: none; }
    .comments .comment-list .rounded-circle {
      max-width: 90px;
      margin-right: 1.875em; }
    .comments .comment-list .media {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .comments .comment-list .media .media-body {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; }
    .comments .comment-list .comment-details {
      color: #999;
      margin-bottom: 1.875em; }
      .comments .comment-list .comment-details .name {
        color: #343434;
        display: block;
        font-size: 1.125em;
        font-weight: 600;
        margin: .875em 0 1.25em; }
        .comments .comment-list .comment-details .name a {
          color: #343434; }
      .comments .comment-list .comment-details time {
        color: #999;
        display: inline-block;
        font-size: 14px;
        font-weight: 600; }
      .comments .comment-list .comment-details .btn {
        background-color: transparent;
        color: #8dc63f;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        padding: 0;
        text-transform: capitalize; }
        .comments .comment-list .comment-details .btn:hover, .comments .comment-list .comment-details .btn:focus {
          -webkit-box-shadow: none !important;
                  box-shadow: none !important;
          outline: 0 !important; }
      .comments .comment-list .comment-details p {
        font-size: 1.125em;
        font-weight: 300;
        line-height: 1.65;
        margin-top: .625em; }
  .comments .comment-form {
    margin-top: 2.5em; }
    .comments .comment-form p {
      margin-bottom: 25px !important; }
    .comments .comment-form input[type="submit"] {
      width: initial !important; }

.logged-in .comments .comment-form p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 768px) {
  .comments .comment-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .comments .comment-form p {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 31.88%;
              flex: 0 0 31.88%;
      max-width: 31.88%;
      margin: 0 1.25em 0 0; }
      .comments .comment-form p:first-child {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        margin: 0;
        padding: 0; }
      .comments .comment-form p:nth-child(4) {
        margin-right: 0; }
      .comments .comment-form p:last-child {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; } }
/* ------------ Portfolio Works ------------- */
.portfolio-works .portfolio-filter {
  margin: 1.875em auto;
    max-width: 1140px;
    text-align: right; }
  .portfolio-works .portfolio-filter .btn {
    background-color: #fff;
    border: 1px solid #999;
    color: #8dc63f;
    font-size: 12px;
    padding: 8px 1.5em; }
    .portfolio-works .portfolio-filter .btn i {
      margin-left: 10px; }
.portfolio-works .item {
  margin: 1.8em 0;
  text-align: center; }
  .portfolio-works .item .item-thumb {
    border-radius: 5px; }
    .portfolio-works .item .item-thumb img {
      border-radius: 5px; }
  .portfolio-works .item .item-details {
    padding: 1.25em 15px 0; }
    .portfolio-works .item .item-details .item-title {
      font-size: 1.5em;
      font-weight: 300;
      line-height: 1.65;
      margin: 0 0 .4em;
      text-transform: capitalize; }
      .portfolio-works .item .item-details .item-title a {
        color: #343434; }
      .portfolio-works .item .item-details .item-title:hover a {
        color: #8dc63f; }
    .portfolio-works .item .item-details .category {
      color: #999;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize; }
.portfolio-works .dropdown-menu,
      .bootstrap-select .dropdown-menu li {
        font-size: 15px;
        padding: 0;
      }
      .bootstrap-select .dropdown-toggle:focus, 
      .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
        outline: 0 !important;
      }

.portfolio-single .item-thumb {
  border-radius: 5px;
  margin: 1.5em 0 5.25em; }
  .portfolio-single .item-thumb img {
    border-radius: 5px; }
.portfolio-single h1, .portfolio-single h2, .portfolio-single h3, .portfolio-single h4, .portfolio-single h5, .portfolio-single h6 {
  font-weight: 600;
  margin: 0; }
.portfolio-single p {
  display: inline-block;
  line-height: 1.9;
  margin: 1.0625em 0;
  width: 100%; }
.portfolio-single .widget {
  margin-bottom: 2.25em; }
  .portfolio-single .widget .widget-title {
    margin-bottom: 1.125em; }
  .portfolio-single .widget ul, .portfolio-single .widget ol {
    margin: 0;
    padding: 0; }
    .portfolio-single .widget ul li, .portfolio-single .widget ol li {
      color: #999;
      font-size: 14px;
      line-height: 23px;
      list-style: none;
      padding: 4px 0; }
      .portfolio-single .widget ul li span, .portfolio-single .widget ol li span {
        font-weight: 600; }
      .portfolio-single .widget ul li i, .portfolio-single .widget ol li i {
        float: left;
        margin-right: 10px; }
      .portfolio-single .widget ul li a, .portfolio-single .widget ol li a {
        color: #999; }
        .portfolio-single .widget ul li a:hover, .portfolio-single .widget ol li a:hover {
          color: #8dc63f; }
  .portfolio-single .widget:last-child {
    margin-bottom: 0; }

/* ------------ Log In ------------- */
.login-form {
  color: #a6a6a6;
  font-size: 15px;
  max-width: 420px;
  margin: 5.6em auto 0; }
  .login-form input {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #b3b3b3;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 1.875em;
    padding: 15px 15px;
    width: 100%; }
    .login-form input[type="submit"] {
      background-color: #8dc63f;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
  .login-form label {
    color: #a6a6a6;
    display: block;
    font-size: 15px; }
    .login-form label input {
      float: left;
      height: 18px;
      width: 18px;
      margin: 0 10px 0 0;
      padding: 0; }
  .login-form span {
    display: block;
    margin-top: 3.75em; }
  .login-form a {
    color: #8dc63f; }

/* ------------ Sidebar & Widgets ------------- */
.row > .col-md-9 {
  padding-right: 2.8125em; }

.contact_info h2, .contact_info h3, .contact_info h4, .contact_info h5, .contact_info h6 {
  color: #343434;
  font-size: 1.125em;
  font-weight: 600;
  margin:0 0 1.375em; }
.contact_info {
  color: #808080;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 1.5em;
  width: 100%; }
  .contact_info time {
    font-weight: 400; }
  .contact_info span {
    display: block;
    padding: 4px 0; }
  .contact_info a {
    color: #808080; }

/* ------------ Footer ------------- */
footer {
  clear: both; }
  footer .content {
    padding: 20px 0; }
  footer .col-md-9 {
    padding-right: 15px; }
  footer .footer-top {
    border-bottom: 1px solid #414141;
    padding-bottom: 2.35em; }
    footer .footer-top .col-lg-9 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  footer .footer-social {
    text-align: right; }
    footer .footer-social a {
      color: #a6a6a6;
      display: inline-block;
      font-size: 1.125em;
      text-align: center;
      padding: 5px 6px; }
  footer .widget-menu {
    text-transform: uppercase; }
    footer .widget-menu ul, footer .widget-menu ol {
      margin: 0;
      padding: 0; }
    footer .widget-menu li {
      display: inline-block; }
      footer .widget-menu li a {
        color: #bfbfbf;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
        padding: 0 27px; }
      footer .widget-menu li:first-child a {
        padding-left: 0; }
      footer .widget-menu li:last-child {
        padding-right: 0; }
  footer .footer-bottom {
    color: #737373;
    font-size: 12px;
    font-weight: 300;
    padding-top: 3.75em; }
    footer .footer-bottom a {
      color: #737373; }
    footer .footer-bottom .widget-menu a {
      color: #737373;
      font-weight: 300;
      padding: 0 22px;
      text-transform: initial; }
    footer .footer-bottom .widget-menu li:first-child a {
      padding-left: 0; }
    footer .footer-bottom .widget-menu li:last-child a {
      padding-right: 0; }
